/* 
https://digitalsynopsis.com/design/minimal-web-color-palettes-combination-hex-code/
Colout palette -  F8B195   F67280   C06C84   6C5B7B   355C7D 
*/

* {
  box-sizing: border-box;
  color: #355C7D;
  font-size: 16px;
  text-shadow: white 0px 0px 10px;
  font-family: 'Merienda One', cursive;
  font-weight: 600;
}

body {
  background-color: #C06C84;
  background-image: url("/assets/images/backgrounds/pexels-photo-11643390.webp");
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

p {
  margin: 6px;
}

/* container grid to house left grid and right grid for main game area */
.container-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    'left-grid right-grid';
  gap: 20px;
  padding-top: 40px;
  min-height: 570px;
}

/* left grid to contain flex column for Content/Story, User Responses, User controls and User Items bar */
.left-grid {
  grid-area: left-grid;
  background-color: #355C7D;
  display: grid;
  grid-template-rows: auto;
  padding: 10px;
  gap: 10px;
  row-gap: 0;
}

/* main content area */
.left-grid-content {
  background-color: #F8B195;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: center;

}

#welcome-message * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  padding: 30px;
  width: 100%;
  max-width: 1000px;
}

#welcome-message p {
  justify-content: left;
}

/* user reply options */
.left-grid-user-response {
  background-color: #F8B195;
  padding-left: 10px;
  padding-right: 10px;
}



#player-answer {
  width: 100%;
  padding: 10px 16px;
  margin: 8px 0;
  border: 3px solid #454545;
  border-radius: 10px;
  background-color: #D8BFD8;
  color: #355C7D;
}

input[type=text]:focus {
  border: 3px solid #555;
}

/* right grid to contain a 2 column by 3 row grid to host DreamInfo, Sleep Status, Player Info, NPC 1 Info and NPC 2 Info */
.right-grid {
  grid-area: right-grid;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 55%;
  grid-template-areas:
    'player-info sleep-status'
    'items items';
  background-color: #355C7D;
  padding: 10px;
  gap: 10px;

}

.right-grid-dream-info {
  grid-area: dream-info;
  background-color: #F8B195;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
}

.right-grid-sleep-status {
  grid-area: sleep-status;
  background-color: #F8B195;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
}

.right-grid-player-info {
  grid-area: player-info;
  background-color: #F8B195;
  padding-left: 10px;
  padding-right: 10px;
}

.right-grid-player-info ul {
  padding: 0;
}

.right-grid-player-info li {
  list-style-type: none;
  margin-top: 12px;
}

#player-name {
  color: blue;
  display: flex;

  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
  font-size: 18px;
}

.right-grid-items {
  grid-area: items;
  background-color: #F8B195;
  padding-left: 10px;
  padding-right: 10px;
}

#sleep-depth {
  font-size: 22px;
  text-shadow: none;
  border-color: black;
  border: 2px;
  border-style: inset;
  padding-left: 5px;
  padding-right: 5px;
  
  font-size: 20px;
}

#sleep-dept-label {
  font-size: 20px;
}


/* Hightlight Blank Word in Content area */
strong {
  color: red;
  font-weight: bold;
  font-weight: 900;
}

#start-game,
#continue-game,
#submit-answer {

  /* Based on https://fdossena.com/?p=html5cool/buttons/i.frag */
  padding: 3px 8px;
  margin: 0 1px 1px 0;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 300;
  color: white;
  background-color: #230592;
  text-align: center;
  transition: all 0.2s;
  text-shadow: none;
  min-width: 120px;
}

#start-game {
  background-color: #355C7D;
}

#button-position {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
}

#start-game:hover,
#continue-game:hover,
#submit-answer:hover {
  background-color: blueviolet;

}

#continue-game:disabled,
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#submit-answer:disabled,
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* Progress Bar */
.block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-radius: 50%;
  background-color: #292929;
  box-shadow: 0 0 5px 3px #222121;
}

.box::before {
  position: absolute;
  content: '';
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 50%;
  border: 1px solid #353535;
}

.box .number span {
  color: #e9e9e9;
}

.box .number .num {
  font-size: 30px;
  font-weight: bold;
}

.box .number .sub {
  font-size: 16px;
}

.box .title {
  font-size: 16px;
  color: #e9e9e9;
}

.dots {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 2s transform, 2s opacity ease;
}

.dots::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 5px;
  left: 50%;
  border-radius: 50%;
  background-color: #b7b5b5;
  box-shadow: 0 0 5px 2px #585858;
  transform: translateX(-50%);
}

.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: none;
  transform: rotate(-90deg);
}

.circle {
  stroke: url(#gradientStyle);
  stroke-width: 4px;
  stroke-dasharray: 503;
  stroke-dashoffset: 503;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: 2s stroke-dashoffset;
}

/* Song Name */
#song-title {
  font-size: 16px;
  font-style: italic;
  color: #454545;
  display: flex;
  justify-content: center;
}

/* Artist Name */
#song-by {
  font-size: 16px;
  font-style: italic;
  color: #454545;
  display: flex;
  justify-content: right;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #F5F5DC;
  background-color: #6C5B7B;
  text-shadow: none;
  padding: 4px;
  letter-spacing: .9px;
}

/* First game question flashes to draw players attention */
/* https://stackoverflow.com/questions/9620594/removing-ul-indentation-with-css */
#game-question {
  border: 5px;
  border-style: double;
  border-color: red;
  padding: 5px;
  animation: blinker 1.5s linear 3;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Media quiries */
/* Min-width: 992px (smaller desktop viewpoints) */
@media only screen and (max-width: 992px) {
  .header-bar {
    display: none;
  }
}

/* Min-width: 768px (smaller desktop viewpoints) */
@media only screen and (max-width: 768px) {
  .footer-bar {
    display: none;
  }
}

/* Min-width: 480px (smaller desktop viewpoints) */
@media only screen and (max-width: 600px) {

  /* container grid to house left grid and right grid for main game area */
  .container-grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
      'left-grid'
      'right-grid';
    gap: 5px;
    padding: 5px;
    height: 100vh;
  }
}

/* Min-width: 480px (smaller desktop viewpoints) */
@media only screen and (max-width: 480px) {}

/* Min-width: 320px (smaller desktop viewpoints) */
@media only screen and (max-width: 320px) {}