/* logo, heading and nav bar */

.header-bar {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  color: #F0FFF0;
  letter-spacing: 5px;
  font-size: 45px;
  background-color: #301934;
  font-family: "Montserrat", sans-serif;
  height: 10vh;
}

.header-bar i {
  font-size: 60px;
}

/* navigation menu */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-list li {
  list-style: none;
  flex: 0 0 auto;
}

.nav-list a {
  color: #F0FFF0;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 8px;
}

.nav-list a:hover:not(.active) {
  background-color: #F0FFF0;
  color: #301934;
}

.nav-list li a.active {
  font-weight: 900;
  color: rgb(250, 250, 6);
  border-style: solid;
}




/* container grid to house left grid and right grid for main game area */
.container-grid {
  display: grid;
  grid-template-columns: 66% 33%;
  grid-template-areas:
    'left-grid right-grid';
  background-color: yellowgreen;
  gap: 5px;
  padding: 5px;
  height: 80vh;
}

/* left grid to contain flex column for Content/Story, User Responses, User controls and User Items bar */
.left-grid {
  grid-area: left-grid;

  display: grid;
  grid-template-rows: 40% 20% 25% 15%;
  /* display: flex; */
  /* flex-direction: column; */
  background-color: red;
  padding: 10px;
  gap: 5px;
}

/* main content area */
.left-grid-content {
  background-color: aquamarine;
  padding: 5px;
}

/* user reply options */
.left-grid-user-response {
  background-color: blanchedalmond;
  padding: 5px;
}

/* user movement controls */
.left-grid-user-controls {
  background-color: coral;
  padding: 5px;
}

/* main content area */
.left-grid-user-items {
  background-color: darkgrey;
  padding: 5px;
}


/* right grid to contain a 2 column by 3 row grid to host DreamInfo, Sleep Status, Player Info, NPC 1 Info and NPC 2 Info */
.right-grid {
  grid-area: right-grid;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas:
    'dream-info sleep-status'
    'player-info player-info'
    'npc1-info npc2-info';
  background-color: fuchsia;
  padding: 10px;
  gap: 5px;
}

.right-grid-dream-info {
  grid-area: dream-info;
  background-color: gold;
  padding: 5px;
}

.right-grid-sleep-status {
  grid-area: sleep-status;
  background-color: honeydew;
  padding: 5px;
}

.right-grid-player-info {
  grid-area: player-info;
  background-color: indianred;
  padding: 5px;
}

.right-grid-npc1-info{
  grid-area: npc1-info;
  background-color: khaki;
  padding: 5px;
}

.right-grid-npc2-info{
  grid-area: npc2-info;
  background-color: lemonchiffon;
  padding: 5px;
}

.player-stats {
  color: white;
}
























/* footer */
.footer-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  background-color: blue;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 8vh;
}

/* social media links on footer */

.soc-media-links {
  display: flex;
  list-style: none;
  color: #F0FFF0;
}

.soc-media-links:hover {
  color: cadetblue;
}