/* 
https://digitalsynopsis.com/design/minimal-web-color-palettes-combination-hex-code/
Colout palette -  F8B195   F67280   C06C84   6C5B7B   355C7D 
*/

/* container grid to house left grid and right grid for main game area */
.container-grid {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-areas:
    'left-grid right-grid';
  background-color: #C06C84;
  gap: 15px;
  padding: 15px;
  height: 80vh;
}

/* left grid to contain flex column for Content/Story, User Responses, User controls and User Items bar */
.left-grid {
  grid-area: left-grid;
  background-color: #355C7D;
  display: grid;
  grid-template-rows: auto;
  padding: 20px;
  gap: 5px;
}

.left-grid h2 {
  font-weight: bolder;
  font-size: 26px;
}

/* main content area */
.left-grid-content {
  background-color: #F8B195;
  padding: 5px;
  /* opacity: .6; */
  /* background-image: url('../images/terrain/canyon.jpg'); */

}

.start-message {
  font-size: 24px;
  font-family: 'Schoolbell', cursive;

  padding-top: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* user reply options */
.left-grid-user-response {
  background-color: #F8B195;
  padding: 5px;
}

/* user movement controls */
.left-grid-user-controls {
  background-color: #F8B195;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* main content area */
.left-grid-user-items {
  background-color: #F8B195;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* right grid to contain a 2 column by 3 row grid to host DreamInfo, Sleep Status, Player Info, NPC 1 Info and NPC 2 Info */
.right-grid {
  grid-area: right-grid;

  display: grid;
  grid-template-columns: auto;
  /* grid-template-rows: 25% 50% 25%; */
  grid-template-rows: auto;
  grid-template-areas:
    'dream-info sleep-status'
    'player-info player-info'
    'npc2-info npc2-info';
  background-color: #355C7D;
  padding: 20px;
  gap: 10px;

}

.right-grid h3 {
  font-weight: bolder;
  font-size: 24px;
}

.right-grid ul {
  list-style-type:none;
}

.right-grid-dream-info {
  grid-area: dream-info;
  background-color: #F8B195;
  padding-top: 10px;
  padding-left: 10px;
}

.right-grid-sleep-status {
  grid-area: sleep-status;
  background-color: #F8B195;
  padding-top: 10px;
  padding-left: 10px;;
 
}

.right-grid-player-info {
  grid-area: player-info;
  background-color: #F8B195;
  padding-top: 10px;
  padding-left: 10px;

  /* display: flex;
  align-items: centre;
  justify-content: left; */

  /* padding-left: 25px; */

}

.right-grid-player-info h3 {
  font-weight: bolder;
  font-size: 24px;
}

.block {
  grid-area: block;
  background-color: #F8B195;
  padding: 5px;
}

.right-grid-npc2-info {
  grid-area: npc2-info;
  background-color: #F8B195;
  padding: 5px;
}

.player-stats {
  color: #6C5B7B;
}

/* Hightlight Blank Word in Content area */
strong {
  color: red;
}

/* Min-width: 992px (smaller desktop viewpoints) */
@media only screen and (max-width: 992px) {
  .header-bar {
    display: none;
  }
}

/* Min-width: 768px (smaller desktop viewpoints) */
@media only screen and (max-width: 768px) {
  .footer-bar {
    display: none;
  }
}

/* Min-width: 480px (smaller desktop viewpoints) */
@media only screen and (max-width: 600px) {

  /* container grid to house left grid and right grid for main game area */
  .container-grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
      'left-grid'
      'right-grid';
    background-color: rgb(50, 205, 205);
    gap: 5px;
    padding: 5px;
    height: 100vh;
  }
}

/* Min-width: 480px (smaller desktop viewpoints) */
@media only screen and (max-width: 480px) {
}

/* Min-width: 320px (smaller desktop viewpoints) */
@media only screen and (max-width: 320px) {
}

#start-game,
#continue-game,
#submit-answer {

  /* Based on https://fdossena.com/?p=html5cool/buttons/i.frag */
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 300;
  color: #F8B195;
  background-color: #355C7D ;
  text-align: center;
  transition: all 0.2s;
  text-shadow: none;
}

#start-game:hover,
#continue-game:hover,
#submit-answer:hover {
  background-color: burlywood;
}

/* Progress Bar */

* {
  box-sizing: border-box;
  color: #355C7D;
  font-size: 18px;
  text-shadow: white 0px 0px 10px;
  font-family: 'Merienda One', cursive;
  font-weight: 600;
}

.block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-radius: 50%;
  background-color: #292929;
  box-shadow: 0 0 5px 3px #222121;
}

.box::before {
  position: absolute;
  content: '';
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 50%;
  border: 1px solid #353535;
}

.box .number span {
  color: #e9e9e9;
}

.box .number .num {
  font-size: 35px;
  font-weight: bold;
}

.box .number .sub {
  font-size: 20px;
}

.box .title {
  font-size: 15px;
  color: #9b9b9b;
}

.dots {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 2s transform, 2s opacity ease;
}

.dots::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 5px;
  left: 50%;
  border-radius: 50%;
  background-color: #b7b5b5;
  box-shadow: 0 0 5px 2px #585858;
  transform: translateX(-50%);
}

.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: none;
  transform: rotate(-90deg);
}

.circle {
  stroke: url(#gradientStyle);
  stroke-width: 4px;
  stroke-dasharray: 503;
  stroke-dashoffset: 503;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: 2s stroke-dashoffset;
}

/* radio input to look like button input */
.button2 {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
  border: 4px solid black;
}

.button2 label,
.button2 input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button2 input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.button2 input[type="radio"]:checked+label {
  background: #20b8be;
  border-radius: 4px;
}

.button2 label {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
}